<noscript><style type="text/css">#cookies-notice{display:block !important;}</style></noscript>
<section id="cookies-notice" class="cookies" style="display:none;">
  <p>
    {{ .Param "cookies" }}<br/>
    {{ with .Site.GetPage "cookies" }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{end}}
  <div class="buttons" style="display:none">
    <!--<a class="button button-outline" href="https://perdu.com">{{ .Param "cookiesBad" }}</a>-->
    <button class="button button-outline button-accept">{{ .Param "cookiesOk" }}</button>
  </div>
</section>