<footer>
  <ul>
    {{ with .Site.GetPage "/" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{end}}
    {{ with .Site.GetPage "law" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{end}}
    {{ with .Site.GetPage "privacy" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{end}}
    {{ with .Site.GetPage "about" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{end}}
    {{ with .Site.GetPage "contribute" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{end}}
  </ul>
  <p class="subtitle">{{ .Param "footerText" }}</p>
</footer>