.blog-list {
  td {
    border-bottom: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;

    &.date {
      text-align: right;
      white-space: nowrap;
      font-weight: bold;
    }
    &.title {
      text-align: left;
      width: 100%;
    }
  }
}
.blog-header {
  hgroup {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid #bdbdbd;
    margin-bottom: 2em;
    padding-bottom: 1em;
    h2 {
      flex-grow: 1;
      margin-bottom: 0;
    }
    h4 {
      margin-left: 1em;
      margin-bottom: 0;
      //align-self: center;
      align-self: flex-end;
      white-space: nowrap;
    }
  }
}

.blog-footer {
  border-top: 0.1rem solid #bdbdbd;
  margin-top: 2em;
  padding-top: 1em;
  margin-bottom: 0em;
  display: flex;
  flex-direction: row;
  p {
    margin-bottom: 0.5em;
  }
  p.date {
    flex-grow: 1;
    margin-right: 1em;
  }
}

@media screen and (max-width: 39.9rem) {
  .blog-header {
    hgroup {
      flex-direction: column-reverse;
      h4 {
        align-self: flex-start;
        margin-left: 0;
        margin-bottom: 0.5em;
      }
    }
  }
  .blog-footer {
    flex-direction: column;
  }
}
