main {
  padding: 2em;
  align-self: center;
  width: unquote("min(80rem, 100%)");
  max-width: 80rem;
}

.highlight pre {
  //border-left: none;
  border-left-color: #f08080;
  code {
    background: initial;
  }
}
