footer {
  background: #c0c0c0;
  background: linear-gradient(180deg, #bbb, #c0c0c0);
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  ul {
    margin:0;
    & > li  {
      display: inline-block;
      margin-right: 0.5em;
      margin-bottom: 0;
    }
    flex-grow: 1;
  }
  p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 39.9rem) {
  footer p {
    margin-top: 1.5em;
  }
}