section.cookies {
  background: #fff;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  p {
    flex-grow: 1;
    margin-bottom: 0;
  }
  .buttons {
    margin-left: 0.8em;
  }
  .button {
    margin-bottom: 0;
    color: #333;
    border-color: #777;
  }
}
@media screen and (max-width: 39.9rem) {
  section.cookies {
    font-size: 1.45rem;
  }
}
