$backgroundColour: #F5F5F5;

@import "../css/normalize";
@import "../css/milligram";

@import "./header";
@import "./content";
@import "./footer";

a {
  text-decoration: underline;

  &:visited {
    color: darken(purple, 6%);
  }
}

html, body {
  display: flex;
  flex-direction: column;
}

body {
  background: $backgroundColour;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}
