$backgroundColour: #F5F5F5;
$linkColour: #002868;

@import "../css/normalize";
@import "../css/milligram";

@import "./header";
@import "./content";
@import "./footer";

a {
  text-decoration: underline;
  color: $linkColour;

  &:visited {
    color: darken($linkColour, 6%);
  }
  &:hover {
    color: darken($linkColour, 10%);
  }
}

html, body {
  display: flex;
  flex-direction: column;
}

body {
  background: $backgroundColour;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}
